<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
        <h6>Edit <%= @service.service_name %></h6>
      </li>
      <li>
        <%= link_to "new service", new_category_service_path(@category.slug), class: 'waves-effect waves-light btn white' %>
      </li>

  <% end %>

  </ul>
</div>
<div class="row">
    <%= render 'shared/service_form' %>
</div>