<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
        <%= link_to "new section", new_location_section_path(@location.slug), class: 'waves-effect waves-light btn white' %>
      </li>
      <li>
        <h5>&nbsp; &nbsp; Edit <%= @service.service_name %></h5>
      </li>


  <% end %>

  </ul>
</div>
<div class="row">
    <%= render 'shared/service_form' %>
</div>