<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
       <small><%= @location.category.category_name %> &nbsp; &nbsp;</small>
      </li>
      <li>
        <small> <%= @location.location_name %> - new service</small>
      </li>

      <li>
      </li>
  <% end %>
  </ul>
</div>
<div class="row">
  <div class="col l12 m6 s12 ">
    <%= render 'shared/service_form' %>
  </div>
</div>