<div class="row">
  <section>
    <img src="https://s3.amazonaws.com/yourtime-official/your+time+logo.jpg" alt="your time logo" />
  </section>
</div>

Hi <%= @user.name %>,


<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>