
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<style></style>
<div class="row" id="darkcolor" style="background:#d3d3d3;height:500px;padding-top:50px">
  <section>
    <div class="body" style="background:#fff;border:1px solid #000;box-shadow:1px 2px gray;font-family:Roboto,sans-serif;font-size:0.75rem;margin:0 auto;padding:30px;width:70%">
      <img src="https://s3.amazonaws.com/yourtime-official/your+time+logo.jpg" alt="your time logo" style="width:200px">
      <h1>Hi <%= @user.name %></h1>
      <p style="font-size:1.15rem">A password reset was requested, please click the link to reset your password</p>
      <%= link_to edit_password_reset_url(@user.reset_token, email: @user.email), style: "align-items:center;background-color:rgba(25,118,210,1);color:#fff;display:flex;font-size:1.0rem;height:25px;padding:10px 18px;text-align:center;text-decoration:none;vertical-align:center;width:120px" do %>
        Reset Password
      <% end %>
      <p style="font-size:1.15rem">This link will expire in 2 hours, if you did not request please contact us
        immediately </p>
    </div>
  </section>
</div>
</body>
</html>