<div class="row">
  <div class="col l11 m12 s12 offset-l1 ">
    <%= react_component('EditBookingApp', props: {booking: @booking, railsHelpers: { admin: (current_user.admin? if current_user.admin?),
                                                                                     user: logged_in?, current_user: (current_user.id if logged_in?)}}, prerender: false) %>
  </div>
</div>