<li id="schedule-<%= schedule.id %>">
  <% if schedule.date? %>
    <div>
      <h6>Date: <%= schedule.date %><br /></h6>
      <small>Capacity: <%= schedule.date_capacity %></small>
    </div>
    <span class="timestamp">
  <% end %>
  </span>
</li>