<div class="row">
  <div class="col l3 m6 s12 offset-l2">
    <small><%= @category.workplace.workplace_name %></small>
    <h3> <%= @category.category_name %></h3>
    <hr />

    <%= render 'shared/infoShims/schedule_feed'%>
  </div>
  <div class="col l3 m6 s12">
    <%= render 'shared/schedule_form' %>
  </div>
</div>
