
<ul class="feed-container">
  <li>New Booking &nbsp;
    <span>
          <%= link_to new_user_booking_path(current_user.id) do %>
           <div class='location-button btn-floating btn-small waves-effect waves-light blue'>
              <i class="location-icon material-icons">+</i>
           </div>

          </span>
          </li>
        <% end %>
  <% if @booking_feed.any? %>
      <%= render @booking_feed%>

  <% end %>
</ul>
