<% if @feed_items.any? %>

  <ol class="microposts">
    <% if logged_in? && current_user.admin? %>
    <li>New Location &nbsp; <span>
      <a href="/locations/new" class="location-button btn-floating btn-small waves-effect waves-light blue">
      <i class="location-icon material-icons">+</i></a>
    </span>
    </li>
        <% end %>
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>