<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
        <h6>
        </h6>
      </li>
      <li>
      </li>
      <li>
      </li>
  <% end %>
  <li>
    <%= link_to "back", :back, class: 'waves-effect waves-light btn white' %>
  </li>
  </ul>
</div>
<!-- Show services/show.html.erb for the category selected -->
<%= render 'shared/infoShims/new_booking' %>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <div class="col l12 m6 s12">
      <%= render 'shared/services_feed' %>
    </div>
  </div>

<% else %>

<% end %>