<% if request.original_url.to_s.include? 'sections' %>
  <div class="header-nav">
    <% if logged_in? && current_user.admin? %>
      <ul>

        <li>
          <%= link_to 'new service', new_section_service_path(@section.slug),
                      class: 'waves-effect waves-light btn white' %>
        </li>
        <li>

        </li>
      <% else %>
      <li>
        <%= link_to "back", :back, class: 'waves-effect waves-light btn white' %>
      </li>
    <% end %>

    </ul>
  </div>
<% end %>
<% if request.original_url.to_s.include? 'services' %>
  <div class="center-align">
    <br />
    <h3>Select service level: </h3>
    <br />
    <br />
  </div>
  <ul class="flex-row">
    <% if @service_feed_items.any? %>
      <%= render @service_feed_items %>
    <% end %>
  </ul>
<% else %>
  <ul class="feed-container">
    <% if @service_feed_items.any? %>
      <%= render @service_feed_items %>
    <% end %>
  </ul>
<% end %>



