<% if request.original_url.to_s.include? 'sections' %>
  <div class="header-nav">
    <% if logged_in? && current_user.admin? %>
      <ul>

        <li>
          <%= link_to 'new service', new_section_service_path(@section.slug),
                      class: 'waves-effect waves-light btn white' %>
        </li>
        <li>

        </li>
      <% else %>
      <li>
        <%= link_to "back", :back, class: 'waves-effect waves-light btn white' %>
      </li>
    <% end %>

    </ul>
  </div>
<% end %>
<ol class="feed-items">
      <% if @service_feed_items.any? %>
          <%= render @service_feed_items %>
      <% end %>
</ol>


