<% if current_user.admin? %>
<div class="stats">
  <h5> Application Stats:</h5>
  <hr />
    <strong id="gallons_remaining" class="stat">
      <h5>Workplaces: <%= @workplaces.count - 1 %></h5>
    </strong>

  <strong id="last_purchase" class="stat">
    <h5>Categories: <%= @categories.count %> </h5>
  </strong>
    <strong id="last_purchase" class="stat">
      <h5>Services: <%= @services.count %> </h5>
    </strong>
</div>
  <% else %>
<div class="stats">
  <h5>User Info:</h5>
  <hr />
  <strong id="gallons_remaining" class="stat">
    <h5>Workplace: <%= current_user.state %></h5>
  </strong>
</div>
<% end %>