<% @user ||= current_user %>
<div class="stats">
    <strong id="gallons_remaining" class="stat">
      <h5><%= @locations.count %> current locations</h5>
    </strong>
<hr />
    <strong id="last_purchase" class="stat">
      <h5>Current Services: <%= @locations.count %> </h5>
    </strong>
</div>