<div class="row">
  <div class="col l2 m3 s4 offset-l3">
    <h4>Current Categories:  <hr /></h4>
    <%=  %>
  </div>
  <div class="col l4 m4 s12">
    <%= render 'shared/section_form' %>
  </div>
</div>