
.selectedService {
  outline: 3px solid #303f9f;
  box-shadow: 0 0 71px rgba(33,33,33,.5);
}

.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity 0.2s ease-in;
  }
}
.subtitles {
  display: flex;
  flex-direction: row;
}
.subtitle {
  font-size: 1.25em;
  padding-left: 3px;
  small {
    color: #303f9f;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
  }
}