$green: #1ecd97;
$bg-color: #e9ebee;
$fb-gray: #fff;
$gray-text: #777;
//#e9ebee
.small-break { display: block; margin: -10px 0; }
label { color: #2E2F30 !important; }
input { color: #2E2F30 !important; }
.alert { z-index: 200; width: 40vw; position: absolute; right: 10vw;}
.btn-floating i {
  line-height: 0 !important;
  margin-left: 1px;
}
#main-container {
  min-height: 700px !important;
  height: 100%;
}
.header-link { color: #2E2F30; }
.btn {color: white !important; }
.form-half {
  width: 35%;
  margin: 5px 10px;
  display: inline-block;
}
.navbar {
  margin-bottom: 0 !important;
  height: 60px !important;
}
.center-items {
  margin: 0 auto;
}
.card-action {
  height: 50px !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    margin: 0 !important;
  }
}
.header-nav {
  width: 100vw;
  height: 53px;
  left: 0;
  top: 68px;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid #E0E0E0;
  padding: 8px 25px 0 45px;
  background-color: #FAFAFA;
  float: right;
  li {
    float: left;
    margin: 0 5px;
    list-style: none;
  }
  a { color: #424242 !important; }
}
#howSection { margin-top: 13%; }
#scheduleSection { margin-top: 7%; }
#driveSection { margin-top: 12%; }
#driveSection2 { margin-top: 12%; }
#timeSection { margin-top: 12%; }
#driveSection3 { margin-top: 12%; }
#winner { margin-top: 10%; }

.custom-btn-small2 { width: 50px; line-height: 2px !important; padding: 10px 10px !important; font-size: 12px !important; height: 15px !important; }
.flash-container { width: 100%; position: absolute; margin: 5px 0; text-align: center;
.alert{ height: 50px !important; }
}
.container-header {
  padding: 5px 35px 0 25px;
}
.btn-large {
  width: 200px !important;
  height: 100px !important;
  padding: 30px;
  font-size: 32px !important;
  line-height: 100px !important;
  font-weight: bold;
  margin: 10px 30px !important;


}
.form-container {
  float: left;
  width: 100%;
}

#datePicker { height: 50px; width: 100px; }
#fa-icon { font-size: 3x.5em; }
#table-buttons { padding: 5px 5px 0 5px !important; float:left; }
.bold { font-weight: bolder; }
#mechanic-image { border-radius: 20%; }
td { font-family: 'Open Sans', 'sans-serif' }

a:hover { text-decoration: none; }
.white-text { display: inline; }
@keyframes processing {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(720deg);
  }
}
#fillUp {
  z-index: 4;
}

#checkMark {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  background-color: #fff;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  &:hover {
    background-color: $green;

    span:first-child, span:last-child {
      color: #fff;
    }
  }

  span:first-child, span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $green;
    font-weight: 600;
    transition: transform 500ms ease-in-out;
  }


  &.done {
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: #fff;

      span:first-child, span:last-child {
        color: $green;
      }
    }

    span:first-child, span:last-child {
      transform: translate3d(0,-100%,0);
    }
  }
}
.text-left { text-align: left; h5 {  margin: 10px 0; display: inline; } span { color: #3c763d; }}
.text-left-small { text-align: left; h5 {  margin: 20px 0 !important; font-size: 1.5rem; display: inline; } span { color: #3c763d; }}
.jumbotron { margin-top: 120px !important; background-color: $bg-color !important; }
#workplace-selection { width: 60%; }
#submitButton {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid $green;
  border-radius: 25px;
  background-color: #fff;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  z-index: 5;

  &:hover {
    background-color: $green;

    span:first-child, span:last-child {
      color: #fff;
    }
  }

  span:first-child, span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $green;
    font-weight: 600;
    transition: transform 500ms ease-in-out;
  }

  &.processing {
    width: 50px;
    background-color: #fff;
    border-width: 4px;
    border-color: #bbb;
    border-top-color: $green;
    border-left-color: $green;
    animation-name: processing;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    pointer-events: none;

    &:hover {
      background-color: #fff;
    }

    span:first-child {
      transform: translate3d(0,-100%,0);
    }
  }

  &.done {
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: #fff;

      span:first-child, span:last-child {
        color: $green;
      }
    }

    span:first-child, span:last-child {
      transform: translate3d(0,-100%,0);
    }
  }
}

.display { display: inline };
.noDisplay { display: none };

@media only screen and (max-width: 800px) {
  .user_info {
    margin-top: 30% !important;
  }
}
.paper {   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
           background: $fb-gray !important; padding: 20px;
           margin: 5px 15px;
           border-radius: 0.75rem;

}
.paper-no-border {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background: $fb-gray !important;
  margin: 5px 15px;
  border-radius: 0.75rem;
}
/*.locations {
  float: left !important;
  padding: 10px;
  margin: 25px;
  width: 30%;
}*/
.date-selector {
  margin-top: 15px;
  padding: 20px;
  input {
    width: 70% !important;
  }
  label {
    font-size: 1rem;
  }
}
.css-flash {
  height: 50px;
  width: 100%;
  background-color: #e8f7ff;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.css-flash-cost {
  height: 50px;
  width: 100%;
  background-color: #DCEDC8;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.css-flash-warning {
  height: 50px;
  width: 100%;
  background-color: #ffebee;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.css-flash-user {
  height: 50px;
  width: 100%;
  background-color: #C5CAE9;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.flash-text {
  display: inline-block;
  height: 100%;
  position: relative;
  padding: 0.25rem 0.25rem;

  color: #303f9f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}

.icon-div {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  color: #303f9f;
  background-color: #72c3fc;
  height: 100%;
  width: 50px !important;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.icon-div-info {
   padding: 0.25rem 0.25rem 0.25rem 1.25rem;
   color: #303f9f;
   background-color: #72c3fc;
   height: 100%;
   width: 50px !important;
   position: relative;
   display: inline-block;
   font-size: 2.0rem;
   border-top-left-radius: 0.75rem;

 }
.icon-div-user {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  color: #303f9f;
  background-color: #9FA8DA;
  height: 100%;
  width: 50px !important;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.icon-div-dollar {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  color: #303f9f;
  background-color: #AED581;
  height: 100%;
  width: 50px;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.icon-div-warning {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  color: #303f9f;
  background-color: #ef9a9a;
  height: 100%;
  width: 50px;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.discount-text {
  width: 130px;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
}
.stripe-button-el {
  background-color: #2bbbad !important;
}
.category-image {
  padding-top: 20px;
}
.no-border {
  border: none !important;
}
.card-gradient {
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 200px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.card-title {
  font-family: 'Open Sans', sans-serif !important;
  }
.card-action-small {
  height: 25px !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    margin: 0 !important;
  }
}
.card {
  width: 30%;
  margin-left: 30px !important; float: left;
  padding: 5px;
  transition: box-shadow .3s;
}
.card:hover {
  box-shadow: 0 0 71px rgba(33,33,33,.2);

}
.card-action a { font-weight: bold; }
.card-panel { padding: 0 !important; }
.card-content {
  padding: 0px 10px !important;
  p {
    font-size: 1rem !important;
  }
}
.card-title { padding: 5px 5px 0 5px; }
.card-subtitle {
  font-size: 1.25em;
  padding-left: 3px;
  small {
    color: #303f9f;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
  }
}
.labels {
  margin-top: 20px;
  font-weight: bolder;
  padding-left: 5px;
}

.card-image {
  background-color: #fff;
  width: 100%;
  text-align: center;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
    padding-left: 5px;
  }
}
.activator:hover { cursor: pointer; }
body {
  padding-top: 60px;
  background-color: $bg-color !important;
  font-size: 18px !important;
  display: flex;
  min-height: 600px;
  flex-direction: column;
}
small { color: gray; font-size: 1rem !important;
  font-weight: bolder !important;

}
.iconpicker-popover { width: 330px !important; }
main {  flex: 1 0 auto;  }
section {  overflow: auto;  }
textarea {  resize: vertical;  }
.center {  text-align: center;  }
.center h1 {  margin-bottom: 10px;  }
.admin { font-weight: bold; margin: 13px 30px; }
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Open Sans', 'Lato', sans-serif;
}
.form-header {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  flex: 0.5;
  padding-left: 2.5rem;
  select {
    display: inline-block !important;
  }
}
.form-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #6b7c93;
  margin-left: 10px;
  margin-right: 10px;
  flex: 0.70;

}
.form-info {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  background-color: #f7f8f9;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  display: inline;
}
h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;

  font-weight: normal;
  color: #777;
}
h3 { margin: 10px 0 !important; }
h4 {
  margin: 0;
  text-align: left;
  font-size: 1.5em !important;
  color: #777;
}
h6 { font-size: 1.5rem !important;
     margin: 0;
     display: inline;
}
h5 {
  font-size: 1.75em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.h6 {
  display: block;
  font-weight: 600;
}
.h5 {
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  display: block;
}

#number { text-align: center; font-size: .75em;}
#label1 { font-size: 20px !important; color: #26a69a; }
hr {  border: .02em solid lightgray;  }
p {  font-size: 1.1em;  line-height: 1.7em;  }
.bold {font-weight: bolder; font-family: 'Lato', sans-serif;}
.image { float: left; }
/* header */
.no-border { border: none !important; }
.location-button { height: 30px !important; width: 30px !important; text-align: center !important; }
.location-icon {
  font-size: 1.8rem !important;
  padding-right: 3px !important;
  padding-bottom: 0px !important;
  position: relative !important;
  left: 1px !important; line-height: -10px !important;
  bottom: 0px;
  top: 0px;
}
.capacity {width: 30%; }
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.container {
  width: 100vw !important;
  max-width: 1300px !important;
  position: relative;
  top: 70px;
  height: 100%;
  min-height: 100% !important;
}
#logo:hover {  color: #fff;  text-decoration: none;  }
.flex-container-column {  display: flex ; display: -webkit-flex;-webkit-flex-direction: column; flex-direction: column; width: 100%; flex-wrap: wrap; padding: 10px; }
.flex-container-row {  display: flex;  flex-direction: row; -webkit-flex-direction: row; width: 100%; flex-wrap: wrap; padding: 10px; }
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-left-half { flex: 0 0 50%; -webkit-flex: 0 0 50%; margin: 10px; order: 1; padding: 10px;  }
.flex-right-half { flex: 0 0 50%;   -webkit-flex: 1; margin: 10px; order: 2; padding: 10px;  }
.user_info { text-align: center; }
.center { height: 80vh; }
.font-black { font-weight: 600; font-size: 2.5rem; font-style: normal; }
.form-control { font-size: 1.55rem !important; }
.select-wrapper span { border-color: transparent !important; }
.parking-selector { width: 60% !important; margin: 0 auto; }
.left { text-align: left; align-items: center; }
ul.dropdown-content.select-dropdown li span  {  font-size: 19px; font-weight: bold;  }
.select-wrapper input.select-dropdown { font-size: 19px !important; font-weight: bold; }
.first_name {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 5px 0 0;
  flex: 0.5 0 0;
}
.last_name {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 5px 0 5px;
  flex: 0.5 0 0;
}
.address { flex: 0.5; width: 70%; }
.city { flex: 0.4; margin: 0 5px 0 5px; }
.state { flex: 0.25; margin: 0 5px 0 5px; }
.zip { flex: .25; margin-left: 20px; }
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  position: relative;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  //@include box_sizing;
}

/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

input {
  height: auto !important;
}
hr {
  margin: 0;
}


.field_with_errors {
  //@extend .has-error;
  .form-control {
    //color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}
.checkbox   span {
  margin-left: 20px;
  font-weight: normal;
}
.float-right { float: right; margin-right: 40px; width: 150px; }
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
}
.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

/* microposts */
.feed-container .feed-items {
  display: flex;
  flex-direction: column !important;

}
.feed-container {
  display: flex !important;
  flex-direction: column !important;
  li {
    width: 100%;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.feed-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2px !important;
  width: 100%;

  li {
    padding: 5px 0;
    border-top: 1px solid #e8e8e8;
    list-style:none;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 2.5rem !important;

  }
  .link {
    font-size: 16px !important;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .categories {
    width: 30%;
    height: 400px;
    margin: 10px !important;
    align-items: center;
  }

  .gravatar {  float: left;  margin-right: 10px;  margin-top: 5px;  }
}

.microposts {

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;



  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 1.5rem;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .gravatar {  float: left;  margin-right: 10px;  margin-top: 5px;  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.timestamp {
  color:gray !important;
  font-size: 0.75rem;
  margin-bottom: 15px;
  a {
    color: gray;
  }
}
.admin { width: 50px; height: 50px; margin: 0px 20px; }


@media (max-width: 800px) {
  .flex-left-half { flex: 0 0 100%; }
  .flex-right-half { flex: 0 0 100%; }
  .parking-selector { width: 100% !important; margin: 0 auto; }
  .jumbotron{ margin-top: 50px !important;  }
  #logo { display: block; width: 50px; height: 50px; }
  .form-info {
    padding: 0;
  }
  .card {
    width: 90%;
    margin-left: 10px !important;
  }
}
.custom-btn-small { width: 60px; line-height: 2px !important; padding: 10px 10px !important; font-size: 12px !important; height: 25px !important; color: white !important; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}