$green: #1ecd97;

@keyframes processing {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(720deg);
  }
}
#fillUp {
  z-index: 4;
}

#checkMark {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  background-color: #fff;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  &:hover {
    background-color: $green;

    span:first-child, span:last-child {
      color: #fff;
    }
  }

  span:first-child, span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $green;
    font-weight: 600;
    transition: transform 500ms ease-in-out;
  }


  &.done {
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: #fff;

      span:first-child, span:last-child {
        color: $green;
      }
    }

    span:first-child, span:last-child {
      transform: translate3d(0,-100%,0);
    }
  }
}
#submitButton {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid $green;
  border-radius: 25px;
  background-color: #fff;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  z-index: 5;

  &:hover {
    background-color: $green;

    span:first-child, span:last-child {
      color: #fff;
    }
  }

  span:first-child, span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $green;
    font-weight: 600;
    transition: transform 500ms ease-in-out;
  }

  &.processing {
    width: 50px;
    background-color: #fff;
    border-width: 4px;
    border-color: #bbb;
    border-top-color: $green;
    border-left-color: $green;
    animation-name: processing;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    pointer-events: none;

    &:hover {
      background-color: #fff;
    }

    span:first-child {
      transform: translate3d(0,-100%,0);
    }
  }

  &.done {
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: #fff;

      span:first-child, span:last-child {
        color: $green;
      }
    }

    span:first-child, span:last-child {
      transform: translate3d(0,-100%,0);
    }
  }
}

.display { display: inline };
.noDisplay { display: none };

@media only screen and (max-width: 800px) {
  .user_info {
    margin-top: 30% !important;
  }
}

.paper {   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
           background: #fff; }


body {
  padding-top: 60px;
  background-color: #e9ebee !important;
  font-size: 18px !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {  flex: 1 0 auto;  }
section {  overflow: auto;  }
textarea {  resize: vertical;  }
.center {  text-align: center;  }
.center h1 {  margin-bottom: 10px;  }
.admin { font-weight: bold;  }
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Open Sans', 'Lato', sans-serif;

}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  display: inline;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;

  font-weight: normal;
  color: #777;
}
h5 {
  font-size: .72em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.h5 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  display: block;
}
#number { text-align: center; font-size: .75em;}
#label1 { font-size: 20px !important; color: #26a69a; }
hr {  border: .02em solid lightgray;  }
p {  font-size: 1.1em;  line-height: 1.7em;  }
.bold {font-weight: bolder; font-family: 'Lato', sans-serif;}
.image { float: left; }
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.container { width: 100vw !important; max-width: 1400px !important; }
#logo:hover {  color: #fff;  text-decoration: none;  }
.flex-container-column {  display: flex ; display: -webkit-flex;-webkit-flex-direction: column; flex-direction: column; width: 100%; flex-wrap: wrap; padding: 10px; }
.flex-container-row {  display: flex;  flex-direction: row; -webkit-flex-direction: row; width: 100%; flex-wrap: wrap; padding: 10px; }
.flex-row {  display: flex;  flex-direction: row;  }
.flex-left-half { flex: 0 0 50%; -webkit-flex: 0 0 50%; margin: 10px; order: 1; padding: 10px;  }
.flex-right-half { flex: 0 0 50%;   -webkit-flex: 1; margin: 10px; order: 2; padding: 10px;  }
.user_info { text-align: center; }
.center { height: 80vh; }
.font-black { font-weight: 400; font-size: 32px; font-style: normal; }

.select-wrapper span { border-color: transparent !important; }
.parking-selector { width: 60% !important; margin: 0 auto; }
.left { text-align: left; align-items: center; }
ul.dropdown-content.select-dropdown li span  {  font-size: 19px; font-weight: bold;  }
.select-wrapper input.select-dropdown { font-size: 19px !important; font-weight: bold; }
.first_name {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 5px 0 0;
  flex: 0.5 0 0;
}
.last_name {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 5px 0 5px;
  flex: 0.5 0 0;
}
.address { flex: 0.5; width: 70%; }
.city { flex: 0.4; margin: 0 5px 0 5px; }
.state { flex: 0.25; margin: 0 5px 0 5px; }
.zip { flex: .25; margin-left: 20px; }
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  //@include box_sizing;
}

/* sidebar */



.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

input {
  height: auto !important;
}
hr {
  margin: 0;
}


.field_with_errors {
  //@extend .has-error;
  .form-control {
    //color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}
.checkbox   span {
  margin-left: 20px;
  font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
}
.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {  color:gray;  display: block;  }
  .gravatar {  float: left;  margin-right: 10px;  margin-top: 5px;  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

@media (max-width: 800px) {
  .flex-left-half { flex: 0 0 100%; }
  .flex-right-half { flex: 0 0 100%; }
  .parking-selector { width: 100% !important; margin: 0 auto; }

}