<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
        <h5>New Category &nbsp &nbsp;</h5>
      </li>
      <li>
        <%= link_to new_workplace_category_path(@workplace.id), class: 'location-button btn-floating btn-small waves-effect waves-light blue' do %>
          <i class="location-icon material-icons">+</i>
        <% end %>
      </li>
  <% end %>

  </ul>
</div>
<div class="row">
  <div class="col l12 m12 s12">
   <br/>
    <div class="center-items">
      <%= react_component('App',  prerender: false) %>

    </div>
  </div>
</div>