<div class="row">
  <div class="col l12 m12 s12">
    <br/>
    <% if logged_in? && current_user.admin? %>
        <span>New Category &nbsp </span>
     <%= link_to new_workplace_category_path(@workplace.id), class: 'location-button btn-floating btn-small waves-effect waves-light blue' do %>
        <i class="location-icon material-icons">+</i>
    <% end %>
    <% end %>
    <h3>Categories for <%= @workplace.workplace_name %></h3>
    <%= render 'shared/category_feed' %>
  </div>
</div>