#loader {
  position: absolute;
  left: 45%;
  top: 20%;
}
.continueButton {
  position: relative;
  right: 50px;
  float: right;
  margin-right: 30px;
  margin-bottom: 100px;
}
#button {

  span {
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-bottom: 90px;
  }
}
.sectionsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  span {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
}

.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity 0.2s ease-in;
  }
}

@media only screen and (max-width: 800px) {
  .sectionsSection {
    section {
      display: flex;
      flex-direction: column;
    }
  }
}