#loader {
  position: absolute;
  left: 45%;
}

.bookingsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  section {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bookingsSection:nth-child(2) {
  width: 87% !important;
}
.checkoutSection {
  width: 100%;
  div:nth-child(1) {
  }
}

.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity 0.2s ease-in;
  }
}

@media only screen and (max-width: 800px) {
  .bookingsSection {
    section {
      display: flex;
      flex-direction: column;
    }
  }
}