
#row {
  width: 100%;
}
.stripeForm {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

#loader {
  position: relative;
  left: 10%;
}
#discountButton {
  display: inline-block;
  background: #3ecf8e;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-left: 13px;
  font-size: 15px;
  font-weight: 400;
  width: 25%;
  height: 40px;
  line-height: 38px;
  outline: none;
}
.textInput {
  background-color: white !important;
  border-radius: 5px !important;
  min-height: 35px;
  width: 130px !important;
  border-bottom: none !important;
  text-transform: uppercase;
  padding-left: 10px !important;
  margin-bottom: 0 !important;
}
.textInput:focus {
  border-bottom: 1px solid #3ecf8e !important;
  box-shadow: 0 1px 0 0 #3ecf8e !important;
}

#alert {
  height: 50px;
  border-radius: 5px;
  border: 1px solid darkgray;
  color: white;
  background: #f9fafc;
  display: flex;

}
.leftAlert {
  flex: .15;
  padding: 8px;
  color: #E57373;
}

.rightAlert {
  flex: .85;
  color: black;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 1rem;
  font-variant: normal;
}
.flash {
  height: 50px;
  width: 100%;
  background-color: #666EE8;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.flashTop {
  height: 50px;
  width: 100%;
  background-color: #3ecf8e;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.iconTop {
  background-color: #3ecf8e;
  padding: 0.01rem 0.25rem 0.25rem 0.5rem;
  color: #fff;
  height: 100%;
  width: 50px;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.icon {
  background-color: #666EE8;
  padding: 0.01rem 0.25rem 0.25rem 0.5rem;
  color: #fff;
  height: 100%;
  width: 50px;
  position: relative;
  display: inline-block;
  font-size: 2.0rem;
  border-top-left-radius: 0.75rem;
}
.text {
  margin-top: 5px;
  margin-left: 5px;
  color: white !important;
}
.textarea {
  background-color: white !important;
}
.textare:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
#discountMessage {
  height: 30px;
  color: #3ecf8e;
  font-size: 1rem;
  padding: 8px;
  display: flex;
  width: 140px;
}
#discountError {
  height: 30px;
  color: #e57373;
  font-size: 1rem;
  padding: 8px;
  display: flex;
  width: 140px;
}
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity 0.2s ease-in;
  }
}