
<div class="row">
  <div class="col l4 m4 s12 offset-l4 offset-m4">
    <br/>
    <br/>
    <h3>Edit <%= @location.location_name %> </h3>
    <br/>
    <%= render 'shared/location_form' %>
  </div>
</div>
