<footer class="page-footer light-blue darken-1" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Gallon Card</h5>
        <p class="grey-text text-lighten-4">Lock in your fuel price today, use whenever.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "Home",   root_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "About",   about_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "Contact",   contact_path, class: 'grey-text text-lighten-3' %></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 The Gallon Card

    </div>
  </div>
</footer>